{% extends "base.html" -%}
{% block content -%}
<p>
  This Application was built with Flask and SQLAlchemy by <a href="https://github.com/Chaostheorie" class="text-muted">Cobalt</a> to support the Penta Game tournament at 36C3 hosted by <a href="https://github.com/penta-jan" class="text-muted">Penta</a>.
  <br />
  To learn more about Penta Game visit <a href="pentagame.org" class="text-muted">pentagame.org</a>.
  <br />
  To learn more about visit<a href="https://github.com/Penta-Game" class="text-muted"> the Penta Game Project on Github</a>.
  <br />
  To see how this awesome special edition was built visit <a href="https://github.com/Penta-Game/36C3-penta-tournament" class="text-muted">36C3 Penta Tournament on Github.</a>
</p>
{% endblock -%}
