{% extends "base.html" -%}
{% block javascript -%}
  <script>
      $( "#CreatePlayerForm" ).submit( function ( event ) {
        event.preventDefault();
        $.post( "/player/create", { name: document.getElementById("NameField").value }, function( data ) {
          window.location = "/player/view/" + data["id"];
          });
        console.log("LOL");
      });
  </script>
{% endblock -%}
{% block content -%}
<form class="form" id="CreatePlayerForm">
  <fieldset class="form-group form-row">
    <input class="form-control" id="NameField" placeholder="Enter Name" name="name" required>
  </fieldset>
  <button type="submit" class="btn background-grey btn-sm">Create</button>
</form>
{% endblock -%}
