{% set footer = False -%}
{% extends "base.html" -%}
{% block content -%}
<p>
  Games {{ games.items[0].id }}-{{ games.items[-1].id }}:
</p>
<div class="d-flex justify-content-center pagination">
  <table class="table">
    <thead class="thead-dark blackout-font">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Winner</th>
        <th scope="col">Participants</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for game in games.items -%}
        <tr class="blackout-font">
          <th scope="row">{{ game.id }}</th>
          {% set winner = game.winner() -%}
          {% if winner == None -%}
            <td>&#10060;</td>
          {% else -%}
            <td>{{ winner.name }}</td>
          {% endif -%}
          <td>{{ game.players|listify("name", extract_attr=True) }}</td>
          <td><a class="btn btn-primary background-grey" href="{{ url_for("view_game", id=game.id) }}" role="button">See More</a></td>
        </tr>
      {% endfor -%}
    </tbody>
  </table>
</div>
<br>
<div class="d-flex justify-content-center mb-5">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group text-muted" role="group">
      {% if games.has_prev -%}<button type="button" class="btn btn-secondary background-grey" onclick="window.location.href='{{ url_for("games_main_view", page=games.prev_num) }}'"><</button>{% endif -%}
      {% for i in range(1, games.pages+1) -%}
        <button type="button" class="btn btn-secondary background-secondary" onclick="window.location.href='{{ url_for("games_main_view", page=i) }}'">{{ i }}</button>
      {% endfor -%}
      {% if games.has_next -%}<button type="button" class="btn btn-secondary background-grey" onclick="window.location.href='{{ url_for("games_main_view", page=games.next_num) }}'">></button>{% endif -%}
    </div>
  </div>
</div>
{% endblock -%}
