{% set footer = False -%}
{% set sub_header = False -%}
{% extends "base.html" -%}
{% block javascript -%}
<script>
    $( "#ViewAllGamesButton" ).click( function () {
        window.location = "/games?viewoption=all";
    });
    $( "#ViewRunningGamesButton" ).click( function () {
        window.location = "/games?viewoption=current";
    });
</script>
{% endblock -%}
{% block advanced_sub_header -%}
<div class="btn-group {% if game_creation == False-%}disabled{% endif -%}" role="group" aria-label="Game Actions">
  <button type="button" class="btn background-grey {% if btn_active == "current" -%}background-ligth-grey{% endif -%}" role="button" id="ViewRunningGamesButton">Running</button>
  <a href="/games/create-game" class="btn background-grey" role="button">Create Game</a>
  <button type="button" class="btn background-grey {% if btn_active == "all" -%}background-ligth-grey{% endif -%}" role="button" id="ViewAllGamesButton">All</button>
</div>
{% endblock -%}
{% block content -%}
{% if games.items|length != 0 -%}
<p>
  Games {{ games.items[0].id }}-{{ games.items[-1].id }}:
</p>
<div class="d-flex justify-content-center pagination">
  <table class="table">
    <thead class="thead-dark blackout-font">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Winner</th>
        <th scope="col">State</th>
        <th scope="col">Participants</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for game in games.items -%}
        <tr class="blackout-font">
          <th scope="row">{{ game.id }}</th>
          {% set winner = game.winner(only_full=True) -%}
          {% if winner == None -%}
            <td style="color: black;">&#10060;</td>
          {% else -%}
            <td>{{ winner.name }}</td>
          {% endif -%}
          <td>{{ game.parse_state() }}</td>
          <td>{{ game.players|listify("name", extract_attr=True) }}</td>
          <td data-toggle="tooltip" data-placement="top" title="not yet avaliable"><a class="btn disabled background-grey" aria-disabled="true" href="{{ url_for("view_game", id=game.id) }}" role="button">See More</a></td>
        </tr>
      {% endfor -%}
    </tbody>
  </table>
</div>
<br>
<div class="d-flex justify-content-center mb-5">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group text-muted" role="group">
      {% if games.has_prev -%}<button type="button" class="btn btn-secondary background-grey" onclick="window.location.href='{{ url_for("games_main_view", page=games.prev_num) }}'"><</button>{% endif -%}
      {% for i in range(1, games.pages+1) -%}
        <button type="button" class="btn btn-secondary background-secondary" onclick="window.location.href='{{ url_for("games_main_view", page=i) }}'">{{ i }}</button>
      {% endfor -%}
      {% if games.has_next -%}<button type="button" class="btn btn-secondary background-grey" onclick="window.location.href='{{ url_for("games_main_view", page=games.next_num) }}'">></button>{% endif -%}
    </div>
  </div>
</div>
{% else -%}
<p class="container">
    Currently there are no games avaliable
</p>
{% endif -%}
{% endblock -%}
