{% extends "base.html" -%}
{% block javascript -%}
  <script>
    $( "#CleanupButton" ).click( function ( event ) {
      if (confirm("Do you really want to do a cleanup? All data will be lost!")) {
        window.location.replace("/cleanup");
      }
    });
    $( "#ChangeTournamentNameForm" ).submit(function( event ) {
      event.preventDefault();
      $.get( "/settings/changename", { name: document.getElementById("TournamentName").value}, function( data ) {
        location.reload();
        });
      });
    $( "#ChangeMasterNameForm" ).submit(function( event ) {
      event.preventDefault();
      $.get( "/settings/changemaster", { name: document.getElementById("MasterName").value}, function( data ) {
        location.reload();
        });
      });
    $( "#ChangeAuthNameForm" ).submit(function( event) {
      event.preventDefault();
      $.get( "/settings/changeauth", { name: document.getElementById("AuthName").value}, function( data ) {
        location.reload();
        });
    });
    $( "#ChangeAuth" ).submit(function ( event ) {
      event.preventDefault();
      $.get( "/settings/changeauth", { name: document.getElementById("AuthName").value}, function( data ) {
        location.reload();
        });
      });
  </script>
{% endblock -%}
{% block content -%}
<div class="container" id="GeneralSettingsRow">
  <div class="container">
      <div class="row m-2">
          <div class="col">
            Cleanup up all files and reset to factory settings
          </div>
          <div class="col">
            <button type="button" class="btn btn-danger" id="CleanupButton">Cleanup</button>
          </div>
      </div>
      <form class="row m-2" id="ChangeTournamentNameForm">
          <fieldset class="col form-group">
              <input value='{{ tournament_name }}' name="TournamentName" id="TournamentName" placeholder="Enter New Tournament Name"></input>
          </fieldset>
          <div class="col">
              <button type="submit" class="btn btn-primary background-grey" name="ChangeTournamentNameButton">Change Name</button>
          </div>
      </form>
      <form class="row m-2" id="ChangeMasterNameForm">
          <fieldset class="col form-group">
              <input value='{{ master }}' name="MasterName" id="TournamentName" placeholder="Enter New Master Name"></input>
          </fieldset>
          <div class="col">
              <button type="submit" class="btn btn-primary background-grey" name="ChangeMasterNameButton">Change Name</button>
          </div>
      </form>
      <form class="m-2 container" action="/settings/changeauth" method="get">
        <fieldset class="row">
            <input name="name" id="name" class="form-control" placeholder="Enter auth username"></input>
        </fieldset>
        <fieldset class="row">
          <input name="password" id="TournamentName" class="form-control" placeholder="Enter auth password"></input>
        </fieldset>
        <div class="row form-group">
          <label class="col checkbox-inline">
            <input type="checkbox" {% if config["BASIC_AUTH_ACTIVE"] == True -%} checked {% endif -%}data-toggle="toggle" data-onstyle="dark" name="active"> Active
          </label>
          <label class="col checkbox-inline">
            <input type="checkbox" {% if config["BASIC_AUTH_FORCE"] == True %} checked {% endif -%} data-toggle="toggle" data-onstyle="dark" name="force"> Force
          </label>
          <button type="submit" class="btn background-grey btn-sm">Change Auth</button>
        </div>
    </div>
</div>
{% endblock -%}
